body{
    color: white;
    background-color: rgb(211, 51, 51);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}
button{
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgb(211, 51, 51);
    border: white 1px solid;
    transition: all 0.5s;
}
button:hover{
    background-color: white;
    color: rgb(211, 51, 51);
}